################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/GarageSpace.*/bin
/src/GarageSpace.*/obj
/tests/GarageSpace.*/bin
/tests/GarageSpace.*/obj
